.box {
    display: flex;
    flex-direction: column;
}

/* SM: ≥640px */
@media (min-width: 640px) {
  /* Code cho các thiết bị từ 640px trở lên */
body {
    font-size: 20px;
}
}

/* MD: ≥768px */
@media (min-width: 768px) {
  /* Code cho các thiết bị từ 768px trở lên */
body {
    font-size: 24px;
}
}

/* LG: ≥1024px */
@media (min-width: 1024px) {
  /* Code cho các thiết bị từ 1024px trở lên */
body {
    font-size: 28px;
}
.box {
    display: flex;
    flex-direction: row;
}
}

/* XL: ≥1280px */
@media (min-width: 1280px) {
  /* Code cho các thiết bị từ 1280px trở lên */
body {
    font-size: 32px;
}
}

/* 2XL: ≥1536px */
@media (min-width: 1536px) {
  /* Code cho các thiết bị từ 1536px trở lên */
body {
    font-size: 36px;
}
}

/* min-width (mobile first)
từ điện thoại đến máy tính để bàn, ưu tiên thiết kế cho điện thoại trước, sau đó mở rộng cho các thiết bị lớn hơn */
/* max-width (desktop first)
từ máy tính để bàn đến điện thoại, ưu tiên thiết kế cho máy tính để bàn trước, sau đó thu nhỏ cho các thiết bị nhỏ hơn */
