*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* landingpage*/
body{
    background-color:#0B0C10;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* navbar  */
.navbar{
    position: absolute;
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links{
    display: flex;
    gap: 72px;
}

.nav-links a {
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    text-box-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.nav-ri{
    display: flex;
    align-items: center;
    gap: 24px;
}

.si-in{
    display: flex;
    align-items: center;
}

.si-in a {
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    text-box-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.lang{
    display: flex;
    align-items: center;
}
.lang a {
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    text-box-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF ;
}

.car{
    width: 100%;
    position: absolute;
    z-index: -1;

}
.tide{
    position: absolute;
    top:144px;
    left: 200px;

    font-family: Lato;
    font-weight: 600;
    font-size: 48px;
    text-box-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF ;
}
.nd{
    position: absolute;
    top: 200px;
    left: 200px;
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;
    text-box-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF ;
    display: flex;
    flex-direction: column;
}
.dot{
    position: absolute;
    top: 510px;
    left: 690px;
    gap: 24px;
    display: flex;
    flex-direction: row;
}
.searchbox{
    width: 1040px;
    height: 219px;
    position: absolute;
    top: 560px;
    left: 250px;
    background-color: #071620;
    padding: 24px;
    border-radius: 3px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sea-td{
    width: 357px;
    height: 33px;
    font-family: Lato;
    font-weight: 900;
    font-size: 20px;
    text-box-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color:#007CC7 ;
    display: flex;
    justify-content: space-evenly;
}
/* .line1{
    width: 119px;
    height: 2px;
    border-radius: 1px;
    background-color:#007CC7 ;
} */
.sea-nd{
    width: 992px;
    height: 114px;
}
.se-bo{
    width: 476px;
    height: 48px;
    border-radius: 3px;
    padding: 12px 16px 12px 16px;
    background-color: #152836;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
.te-se{
    width: 404px;
    height: 22px;
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#A9A9A9 ;
    display: flex;
    align-items: center;
}
.mo{
    width: 234px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 3px;
    background-color: #152836;
    position: relative;
    top: -48px;
    left:500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.model{
    width: 178px;
    height: 17px;
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    text-box-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF ;
}
.br{
    width: 234px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 3px;
    background-color: #152836;
    position: relative;
    top: -96px;
    left:758px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.brand{
    width: 178px;
    height: 17px;
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    text-box-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF ;
}
.lo{
    width: 355px;
    height: 48px;
    border-radius: 3px;
    padding: 12px 16px 12px 16px;
    background-color: #152836;
    position: relative;
    top: -77px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
.location{
    width: 404px;
    height: 22px;
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#A9A9A9 ;
    display: flex;
    align-items: center;
}
.price{
    width: 427px;
    height: 48px;
    position: relative;
    top: 66px;
    left: 377px;
    padding-top: 2px;
    padding-bottom: 2px;
    gap: 16px;
    display: flex;
}