*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* navbar */
.navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar img {
    width: 166.3px;
    height: auto;
}
.mid-nav {
    width: 100%;
    max-width: 702px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.mid-nav img {
    width: 16px;
    height: 16px;
}
.mid-nav a {
    padding: 0px 20px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;

    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-box-trim: none;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
}
.right-nav{
    width: auto;
    height: auto;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.right-nav span img {
    width: 48px;
    height: 48px;
}
.right-nav a {
    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}
/* Thân */
.intro {
    width: 100%;
    min-height: 700px;
    height: auto;
    background-image: url(./images/intro/back-intro.png);
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    background-size: cover; /* Phóng to ảnh vừa vặn toàn bộ khung */
    background-position: center; /* Canh giữa ảnh */
}
.in-de {
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 262px;
    position: relative;
    top: 219px;
    left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.in-de p {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color:#000000 ;
}
.detail {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.detail p {
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
}
.post-btn {
    width: 170px;
    height: 48px;
    gap: 10px;
    opacity: 1;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
    border-radius: 24px;
    background: #FF782D;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: none;
    color:#FFFFFF ;
}
/* Categories */
.cate {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:50px;
    margin-top: 100px;
}
.cate-nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.cate-td {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.cate-td h1 {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #000000;
}

.cate-td p {
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color: #555555;
}
.all-cate {
    width: 161px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #9D9D9D;
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    gap: 10px;

    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    text-decoration: none;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #000000;
    white-space: nowrap;
}
.cate-con {
    width: 100%;
    height: auto;
    gap: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.Categories {
    width: 234px;
    height: 234px;
    border-radius: 20px;
    border:  1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-decoration: none;
}
.Categories img {
    width: 32px;
    height: 32px;
}
.Categories-Text {
    width: 117px;
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.Categories-Text h1 {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: black;
    white-space: nowrap;
    text-decoration: none;
}
.Categories-Text p {
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color: black;
    text-decoration: none;
}

/* Courses */
.Course-holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-top: 100px;
}
.Course-Nav {
    width: 100%;
    height: auto;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Course-Nav-TD {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.Course-Nav-TD h1 {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #000000;
}
.Course-Nav-TD p {
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color: #555555;
}
.all-cou {
    width: 161px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #9D9D9D;
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    gap: 10px;

    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    text-decoration: none;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #000000;
}
.Course-Detail-Holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}
/* p1 */
.Course-Detail {
    width: 410px;
    height: 474px;
    display: flex;
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
}
.Course-Detail img {
    width: 410px; 
    height: 250px;
}
.Course-Detail-Class {
    width: 410px;
    height: 224px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.Class-Info {
    width: 370px;
    height: 84px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.Class-Info p {
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.Class-Info h1 {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color:#000000 ;
}
.Class-Week-Student {
    width: 214px;
    height: 24px;
    display: flex;
    gap: 24px;
}
.Class-Week-Student p {
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color:#555555 ;
}
.Class-Week-Student img {
    width:16px;
    height: 16px;
}
.Class-Week {
    width: 78px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.Class-Student {
    width: 78px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.Line1 {
    width: 370px;
    height: 1px;
    background-color: #EAEAEA;
}
.Class-Fee {
    width: 370px;
    height: 27px;
    display: flex;
    justify-content: space-between;
}
.Fee {
    width: 89px;
    height: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.Fee p {
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: line-through;
    color:#9D9D9D ;
}
.Fee span {
    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color:#55BE24 ;
}
.Class-Fee a {
    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    text-transform: capitalize;
    text-decoration: none;
    color:#000000 ;
}
/* Advertisement */
.Advertisments-Holder {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Advertisments {
    width: 1290px;
    height: 324px;
    border-radius: 20px;
    margin-top: 100px;
    background-image: url(./assets/Advertisement/image.png);
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    background-size: cover; /* Phóng to ảnh vừa vặn toàn bộ khung */
    background-position: center; /* Canh giữa ảnh */
}
.Advertisments-Detail {
    width: 450px;
    height: 215px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    top: 49px;
    left: 100px;

}
.Advertisments-Nav {
    width: 450px;
    height: 69px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.Advertisments-Nav p {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #555555;
}
.Advertisments-Nav h1 {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color:#000000 ;
}
.Advertisments-Content {
    width: 450px;
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Advertisments-Content p {
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#555555 ;
}
.Advertisments-Content a {
    width: 177px;
    height: 48px;
    border-radius: 24px;
    padding: 10px 24px;
    background: var(--Primary, #FF782D);

    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 17px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color:#FFFFFF ;
    text-decoration: none;
}
/* Estimate  Numbers */
.es-nu {
    width: 1290px;
    height: 181px;
    margin-top: 100px;
    display: flex;
    gap: 30px;
}
.AS {
    width: 300px;
    height: 181px;
    border-radius: 20px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background: var(--White_grey, #F5F5F5);
}
.AS h1 {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #FF782D;
}
.AS p {
    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #000000;
}
/* Grow */
.grow-holder {
    width: 1289;
    height: 469px;
    display: flex;
    gap: 125px;
    margin: 100px;
}
.grow{
    width: 520px;
    height: 384px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.grow-td {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #000000;
}
.grow-de {
    width: 520px;
    height: 284px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.grow-detail {
    width: 520px;
    height: 216px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.grow-detail p {
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#555555 ;
}
.cer {
    width: 520px;
    height: 144px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.cer1{
    display: flex;
    align-items: center;
    gap: 8px;

    font-family: 'Jost',sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color:#000000 ;
}
/* theme */
.theme-holder {
    width: 1290px;
    height: 300px;
    display: flex;
    gap: 10px;
    background-image: url(./images/theme/theme.png);
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    background-size: cover; /* Phóng to ảnh vừa vặn toàn bộ khung */
    background-position: center; /* Canh giữa ảnh */
    /* margin-top: 100px; */
}
.theme-de {
    width: 600px;
    height: 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    top: 50px;
    left: 335px

}
.theme-de-td {
    width: 429px;
    height: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.theme-de-td p {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color:#000000 ;
}
.theme-de-td h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: black;
}
.theme-detail {
    width: 536px;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.theme-detail p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: black;
}
/* feedbacks */
.fe-holder {
    width: 1290px;
    height: 534.8px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
}
.fe-td {
    width: 1290px;
    height: 77px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.fe-td h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: black;
}
.fe-td p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #555555;
}
.fe-de {
    width: 1290px;
    height: 407.8px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}.fe1 {
    width: 300px;
    height: 407.8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fe1-1 {
    width: 240px;
    height: 238.8px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#000000 ;
}
.fe1-2 {
    width: 95px;
    height: 59px;
    flex-direction: flex;
    flex-direction: column;
    gap: 8px;
}
.fe1-2 h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: black;
    white-space: nowrap;
}
.fe1-2 p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color: black
}
/* wel */
.wel-holder {
    width: 1290px;
    height: 250px;
    border-radius: 20px;
    background-image: url(./images/wel.png);
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    background-size: cover; /* Phóng to ảnh vừa vặn toàn bộ khung */
    background-position: center; /* Canh giữa ảnh */
    /* margin-top: 100px; */
}
.wel-nav {
    position: relative;
    top: -190px;
    left: 50px;
    width: 1190px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.wel1 {
    width: 433px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}
.wel1 h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color:  black;
    white-space: nowrap;
}
.wel2 {
    width: 395px;
    height: 48px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.i-stu {
    width: 156px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid var(--Primary, #FF782D);
    padding: 10px 24px;

    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 17px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #FF782D;
    text-decoration: none;
    /* white-space: nowrap; */
}
.i-ins {
    width: 219px;
    height: 48px;
    border-radius: 24px;
    padding: 10px 24px;
    gap: 10px;
    background: var(--Primary, #FF782D);


    font-family: 'Jost';
    font-weight: 500;
    font-style: Medium;
    font-size: 17px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    /* white-space: nowrap; */
}
/* articles */
.articles-holder {
    width: 1290px;
    height:575px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin: 100px;
}
.art-nav {
    width: 1290px;
    height: 77px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.art-td {
    width: 787px;
    height: 77px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.art-td h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #000000 ;
}
.art-td p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#555555;
}
.all-art {
    width: 134px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid var(--Grey, #9D9D9D);
    padding: 10px 24px;

    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #000000;
    white-space: nowrap;
    text-decoration: none;
}
.art-de {
    width: 1290px;
    height: 464px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.art-p1 {
    width: 410px;
    height: 440px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--Light_grey, #EAEAEA);
}
.art-p1-1 {
    width: 410px;
    height: 190px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.art-p1-1 h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: black;
}
.p1-1-date {
    width: 123px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.p1-1-date p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color:#555555 ;
    white-space: nowrap;
}
.art-p1-1 p {
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #555555;
}
/* footer */
.footer-holder {
    width: 100%;
    height: 552px;
    padding-top: 90px;
    padding-bottom: 32px;
    display: flex;
    gap: 90px;
    background: var(--White_grey, #F5F5F5);
}
.footer {
    width: 1290px;
    height: 281px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
    top: -10px;
    left: 150px;

}
.footer1 {
    width: 410px;
    height: 131px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer1 p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#555555;
}
.footer2 {
    width: 190px;
    height: 191px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.ge-he {
    width: 110px;
    height: 135px;
    list-style: none;
}
.footer2 h1 {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-box-trim:  120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: black;
}
.ge-he a {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 250%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #555555;
    text-decoration: none;
    white-space: nowrap;
}
.footer3 {
    width: 410px;
    height: 218px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer3 h1 {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-box-trim:  120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: black;
}
.con-he {
    width: 410px;
    height: 162px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.con-he p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color: #555555;
}
.co-ico {
    width: 148px;
    height: 20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.copy-holder {
    width: 1290px;
    height: 59px;
    border-top: 1px solid var(--Light_grey, #EAEAEA);
    padding-top: 32px;
    display: flex;
    gap: 10px;
    position: relative;
    top: 370px;
    left: -800px;
}
.copy-holder p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#555555 ;
    white-space: nowrap;
}