*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* navbar */
.navbar {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mid-nav {
    width: 702px;
    height: 72px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.mid-nav a {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    text-box-trim: none;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}
.right-nav{
    width: 198px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.right-nav a {
    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}
/* Duong dan */
.Path-holder {
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    gap: 10px;
    background: var(--White_grey, #F5F5F5);
}
.Path {
    width: 1290px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    top: 10px;
    left: 70px;
}
.Path a {
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#555555;
    text-decoration: none;
}
.Path p {
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#9D9D9D ;
}
/* Than */
.Detail-Holder {
    width: 100%;
    /* height: 1214px; */
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.Detail-TD-Holder {
    width: 100%;
    height: 290px;
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background: var(--Black, #000000);
    z-index: 1;
}
.Detail-TD {
    width: 1290px;
    height: 190px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.Detail-TD-text { 
    width: 850px;
    height: 86px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Detail-TD-text h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 36px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.text1 {
    width: 301px;
    height: 40px;
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 20px;
}
.text1 p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color:#555555 ;
    white-space: nowrap;
}
.photography {
    width: 114px;
    height: 40px;
    border-radius: 8px;
    padding: 8px 12px;
    background: var(--Dark_gray, #555555);

    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.p1-nu {
    width: 563px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.p1-nu p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color:#555555 ;
    white-space: nowrap;
}
.p1-time {
    width: 78px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.p1-stu {
    width: 112px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.p1-levels {
    width: 84px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.p1-lessons {
    width: 100px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.p1-quizzes {
    width: 93px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.Detail-TD-Class {
    width: 410px;
    height: 358px;
    border-radius: 20px;
    border: 1px solid var(--Light_grey, #EAEAEA);
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.lesson-img {
    width: 410px;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.lesson-fee-holder {
    width: 261px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.lesson-fee {
    width: 104px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.lesson-fee p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: line-through;
    color:#9D9D9D;
}
.lesson-fee span {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color:#F51A1A ;
}
.lesson-fee-holder a {
    width: 127px;
    height: 48px;
    border-radius: 24px;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: var(--Primary, #FF782D);

    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #FFFFFF;
    white-space: nowrap;
    text-decoration: none;
}
/* Chi tiet */
.Detail-Holder-CT {
    height: 874px;
    display: flex;
    gap: 40px;
}
.Detail {
    width: 850px;
    height: 874px;
    position: relative;
    left: 112px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.Detail1 {
    width: 850px;
    height: 448px;
    border-radius: 20px;
}
.Detail1-TD {
    width: 850px;
    height: 64px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid var(--Light_grey, #EAEAEA);
    display: flex;
    flex-direction: row;
    list-style: none;

}
.Detail1-TD button {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}
.tab-btn active {
    width: 170px;
    height: 64px;
    border-top-left-radius: 20px;
    border-width: 1px, 0px, 1px, 1px;
    border-style: solid;
    border-color: var(--Light_grey, #EAEAEA);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tab-btn {
    width: 170px;
    height: 64px;
    border-width: 1px, 0px, 1px, 1px;
    border-style: solid;
    border-color: var(--Light_grey, #EAEAEA);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tab-btn {
    width: 170px;
    height: 64px;
    border-top-right-radius: 20px;
    border-width: 1px, 0px, 1px, 1px;
    border-style: solid;
    border-color: var(--Light_grey, #EAEAEA);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* Overview */
#tab-overview {
    width: 850px;
    height: 384px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
    display: flex;
    gap: 10px;
    background: var(--White_grey, #F5F5F5);
}
#tab-overview p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#555555 ;
}
/* Curriculum */
#tab-curriculum {
    width: 850px;
    height: 630px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
    flex-direction: column;
    gap: 20px;
    background: var(--White_grey, #F5F5F5);
}
#tab-curriculum p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#555555 ;
}
.Curriculum-Holder {
    width: 790px;
    height: 496px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.Cur-P1 {
    width: 790px;
    height: 56px;
    border-radius: 8px;
    padding: 16px 20px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    background: var(--White, #FFFFFF);
}
.Cur-A {
    width: 16px;
    height: 16px;
}
.Cur-P1-TD {
    width: 576px;
    height: 24px;
}
.Cur-P1-TD {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color:#000000 ;
}
.Cur-P1-Nu {
    width: 142px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.Cur-P1-Les {
    width: 66px;
    height: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.Cur-P1-Time {
    width: 56px;
    height: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
/* Instructor */
#tab-instructor {
    width: 850px;
    height: 370px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
    display: flex;
    gap: 10px;
    background: var(--White_grey, #F5F5F5);
}
.Ins-Holder {
    width: 790px;
    height: 310px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Ins-Holder p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#555555 ;
}
.Ins-1 {
    width: 790px;
    height: 189px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.Ins-Img {
    width: 180px;
    height: 180px;
}
.Ins-1-De {
    width: 586px;
    height: 189px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.In-1-De h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: black;
}
.In-1-De p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color: black;
}
.Ins-1-Stu {
    width: 112px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.Ins-Stu {
    width: 16px;
    height: 16px;
}
.Ins-1-Stu p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color:#555555 ;
}
.Follow-Holder {
    width: 214px;
    height: 27px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}







/* De lai Comment */
.Detail2 {
    width: 850px;
    height: 386px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Detail2-TD {
    width: 850px;
    height: 63px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.Detail2-TD h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-box-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color:#000000 ;
}
.Detail2-TD p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#000000 ;
}
.Detail2-Body {
    width: 850px;
    height: 293px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Name-Email {
    width: 850px;
    height: 48px;
    display: flex;
    gap: 20px;
}
.Name {
    width: 415px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--Grey, #9D9D9D);
    padding: 10px 16px;

    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color: #9D9D9D;
}
textarea {
    width: 850px;
    height: 110px;
    border-radius: 8px;
    border: 1px solid var(--Grey, #9D9D9D);
    padding: 10px 16px;
    resize: none;

    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color: #9D9D9D;
}
textarea::placeholder {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color: #9D9D9D;
}
.check-box {
    width: 850px;
    height: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.check-box input {
    width: 16px;
    height: 16px;
}
.check-box label {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color:#555555 ;
}
.Detail2-Body a {
    width: 170px;
    height: 48px;
    border-radius: 24px;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: var(--Primary, #FF782D);

    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color:#FFFFFF ;
    text-decoration: none;
}
/* footer */
.footer-holder {
    width: 100%;
    height: 552px;
    padding-top: 90px;
    padding-bottom: 32px;
    display: flex;
    gap: 90px;
    background: var(--White_grey, #F5F5F5);
    margin-top: 100px;
}
.footer {
    width: 1290px;
    height: 281px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
    top: -10px;
    left: 150px;

}
.footer1 {
    width: 410px;
    height: 131px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer1 p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#555555;
}
.footer2 {
    width: 190px;
    height: 191px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.ge-he {
    width: 110px;
    height: 135px;
    list-style: none;
}
.footer2 h1 {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-box-trim:  120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: black;
}
.ge-he a {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 250%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #555555;
    text-decoration: none;
    white-space: nowrap;
}
.footer3 {
    width: 410px;
    height: 218px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer3 h1 {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-box-trim:  120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: black;
}
.con-he {
    width: 410px;
    height: 162px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.con-he p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color: #555555;
}
.co-ico {
    width: 148px;
    height: 20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.copy-holder {
    width: 1290px;
    height: 59px;
    border-top: 1px solid var(--Light_grey, #EAEAEA);
    padding-top: 32px;
    display: flex;
    gap: 10px;
    position: relative;
    top: 370px;
    left: -800px;
}
.copy-holder p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color:#555555 ;
    white-space: nowrap;
}